.film-info {
  width: 300px;
  &__wrapper {
    border: 1px solid #bbbbbb;
    border-top: none;
  }
  &__row {
    border-top: 1px solid #bbbbbb;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: left;
    gap: 5px;
    span {
      padding: 5px;
    }
  }
  &__row-name {
    height: 100%;
    border-right: 1px solid #bbbbbb;
    font-weight: bolder;
  }
  &__heading {
    font-weight: bolder;
    margin-bottom: 15px;
  }
}
