* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}
code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}
dfn,
i,
cite,
var,
address,
em {
  font-style: normal;
}
th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a,
img,
a img,
iframe,
form,
fieldset,
abbr,
acronym,
object,
applet,
table {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td,
center {
  text-align: left;
  vertical-align: top;
}
body {
  line-height: 1;
  background: white;
  color: black;
}
q {
  quotes: "" "";
}
ul,
ol,
dir,
menu {
  list-style: none;
}
sub,
sup {
  vertical-align: baseline;
}
a {
  color: inherit;
}
hr {
  display: none;
}
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}
marquee {
  overflow: inherit !important;
  -moz-binding: none;
}
blink {
  text-decoration: none;
}
nobr {
  white-space: normal;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

li {
  marker: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;
}

.App-body {
  flex-grow: 1;
}

.App-footer {
  display: flex;
  height: 50px;
  flex-shrink: 0;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.row {
  display: flex;
}

.films {
  padding: 50px;
  &__list {
  }
  &__film-modal {
  }
  &__add-file {
    margin: auto;
    position: relative;
    input {
      display: none;
    }
    label {
      cursor: pointer;
      border-radius: 5px;
      background-color: #f1f1f1;
      border: 1px solid #c8c8c8;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 20px;
      &:hover {
        background-color: #fafafa;
      }
    }
  }
  &__add-film {
    margin: auto;
  }
  &__submit-file {
    top: 100%;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    p {
      margin-right: 10px;
    }
  }
}
.sorting {
  display: flex;
  top: 25px;
  right: 25px;
  button {
    margin: 0 5px;
  }
  &__name {
  }
  &__year {
  }
  &__asc {
  }
  &__desc {
  }
}

.film-modal {
  &::before {
    content: "";
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #bebebe;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 35px;
  }
  &__form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #bebebe;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 35px;
  }
  &__input {
    margin-bottom: 15px;
    height: 40px;
    width: 250px;
    padding: 0 15px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    &.invalid {
      border-color: red;
    }
  }
  &__heading {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  &__submit {
    height: 35px;
    margin-top: 10px;
    align-self: center;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
    right: 20px;
    top: 20px;
    &::before,
    &::after {
      content: "";
      background: black;
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
.film-list {
  border: 1px solid #f1f1f1;
  border-bottom: none;
  width: 800px;
  &__li {
  }
}

.film-li {
  height: 40px;
  border-bottom: 1px solid #f1f1f1;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  align-items: center;
  button {
    height: 35px;
    font-size: 12px;
    width: 120px;
  }
  &__title {
  }
  &__info {
    font-size: 12px;
  }
  &__year {
  }
  &__delete {
    margin: 0 5px;
  }
}

.list {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 25px;
  margin-bottom: 20px;
  &__heading {
    margin-top: 0;
    margin-bottom: 20px;
  }
  &__sorting {
    margin-bottom: 15px;
  }
}

.film-info {
  width: 450px;
  .row {
    display: grid;
    grid-template-columns: 100px auto;
    text-align: left;
    gap: 15px;
    margin-bottom: 15px;
  }
  &__heading {
    font-weight: bolder;
  }
}
