.toast-message {
  width: 300px;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #bbbbbb;
  margin-bottom: 10px;
  &--error {
    border-color: red;
  }
  &--info {
    border-color: blue;
  }
  &--success {
    border-color: green;
  }
}
